#Ignore the root vendor directory
vendor/

#Ignore composer created files
composer.json
composer.lock

# Ignore Drupal core files (using Composer)
web/core/
web/modules
web/themes/contrib/
web/profiles/
web/sites/*/files/
web/sites/*/settings.php
web/sites/*/*services.yml

# Ignore Drupal cache and temporary directories
web/sites/default/files/css/
web/sites/default/files/js/
web/sites/default/files/php/

# Provide example configuration files
!.env.example
