<article{{ attributes }}>
  <header>
    <h1> overwritten {{ label }}</h1>
  <div class="vehicle-content">
    {{ include('bartik_subtheme:vehicle', {
      content:content
    })}}
  </div>
</article>
