{#
  Template for content type "Vehicle".
#}

<article class="node--vehicle">
  <h1>{{ label }}</h1>
  <div class="vehicle-date">
    {{ content.field_date }}
  </div>
  <div class="vehicle-price">
    {{ content.field_price }}
  </div>
</article>
